.hero__top {
  margin-bottom: var(--lg);
}

.hero__title {
  grid-column: 6 span;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: var(--dark);
}

.hero__descr {
  grid-column: 4 span;
  margin: 0;
  padding-top: 24px;
  color: var(--dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
