<section class="production section-offset">
  <div class="container">
    <h2 class="section-title production__title">Продукция</h2>
    <ul class="production__list grid list-reset">
      <li class="production__item">
        <div class="products-card">
          <img loading="lazy" src="img/prod-1.png" class="products-card__image" width="200" alt="Сигнализатор уровня">
          <h3 class="products-card__title">Сигнализатор уровня</h3>
          <a href="#" class="products-card__link">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="production__item">
        <div class="products-card">
          <img loading="lazy" src="img/prod-2.png" class="products-card__image" width="200" alt="Датчики давления">
          <h3 class="products-card__title">Датчики давления</h3>
          <a href="#" class="products-card__link">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="production__item">
        <div class="products-card">
          <img loading="lazy" src="img/prod-3.png" class="products-card__image" width="200" alt="ПИД-регуляторы">
          <h3 class="products-card__title">ПИД-регуляторы</h3>
          <a href="#" class="products-card__link">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="production__item">
        <div class="products-card">
          <img loading="lazy" src="img/prod-4.png" class="products-card__image" width="200" alt="Калибратор давления">
          <h3 class="products-card__title">Калибратор давления</h3>
          <a href="#" class="products-card__link">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="production__item">
        <div class="products-card">
          <img loading="lazy" src="img/prod-5.png" class="products-card__image" width="200" alt="орректор расхода газа">
          <h3 class="products-card__title">Корректор расхода газа</h3>
          <a href="#" class="products-card__link">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="production__item">
        <div class="products-card">
          <img loading="lazy" src="img/prod-6.png" class="products-card__image" width="200" alt="Манометры">
          <h3 class="products-card__title">Манометры</h3>
          <a href="#" class="products-card__link">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
